<section>
  <h2>Support Groups</h2>
  <div class="article-box" data-aos="fade-down-right">
    <div class="image-container">
      <img
        src="https://www.facebook.com/images/groups/groups-default-cover-photo-2x.png"
        alt="Baguio Mental Health Support Group"
      />
    </div>
    <div class="text-container">
      <h3>
        <a href="https://www.facebook.com/groups/1430140683959304/"
          >Baguio Mental Health Support Group</a
        >
      </h3>
      <p>
        This group is created primarily for individuals with mental health
        issues. It is intended for people like us. We are here to give support
        and encouragement. We would like this group to be a safe haven for all
        of us and nurture an atmosphere of acceptance, respect and love. Let us
        all do our part to keep it that way.
      </p>
    </div>
  </div>
  <div class="article-box" data-aos="fade-down-right">
    <div class="image-container">
      <img
        src="https://scontent.fcrk1-1.fna.fbcdn.net/v/t39.30808-6/327108521_711215610505996_8316293830304222961_n.jpg?_nc_cat=107&ccb=1-7&_nc_sid=e3f864&_nc_eui2=AeEfpS6iaJgiDTuZ_Dn1rq-AoaWLxyCKJeShpYvHIIol5G4Vu0PDsnpvyvxbVlafj-dq6hUMkpa7ZayNyKnR1O8l&_nc_ohc=I8aRyeh3WvoAX95ppy5&_nc_oc=AQmWRy1Xc7tuKSf3jqI8Xg6tl3qlp4LEhO_h86MSdw7MtegjorSsLmTKqZpOMK-NMFE&_nc_ht=scontent.fcrk1-1.fna&oh=00_AfAmTwfan0qouHfuqvPFDZO-I38nUJx-8tnN3y_yDnp3Rg&oe=64587F2F"
        alt="Anxiety and Depression Support Philippines"
      />
    </div>
    <div class="text-container">
      <h3>
        <a href="https://www.facebook.com/ADSPpage"
          >Anxiety and Depression Support Philippines</a
        >
      </h3>
      <p>
        Are you struggling with any problem or disorder? You are welcome to our
        support group. Do you want to be a volunteer in our initiative? Let's
        go!
      </p>
    </div>
  </div>
  <div class="article-box" data-aos="fade-down-right">
    <div class="image-container">
      <img
        src="https://scontent.fcrk1-5.fna.fbcdn.net/v/t1.6435-9/142704957_10224400903187700_6560916191400616131_n.jpg?_nc_cat=103&ccb=1-7&_nc_sid=8631f5&_nc_eui2=AeETYLfZgZDxI-VaBR2gfg_lHGwx_F5u7WkcbDH8Xm7taSLIWWKY6XA7o8LLkyPf41v-M2GU95SngajUFO7jQXYS&_nc_ohc=Z_10BtAZVwIAX8Q458_&_nc_ht=scontent.fcrk1-5.fna&oh=00_AfAQwN7GkrYMaiCfDKkLhoso81e9z_A0nsu6WewebimWWg&oe=647B2C9B"
        alt="Social Anxiety Support Group"
      />
    </div>
    <div class="text-container">
      <h3>
        <a href="https://www.facebook.com/groups/192944541173077/"
          >Social Anxiety Support Group</a
        >
      </h3>
      <p>
        Welcome! We are a peer focused support group for sufferers of anxiety,
        particularly social anxiety. We keep a positive atmosphere where you can
        feel safe to ask questions and share your experiences around social
        anxiety.
      </p>
    </div>
  </div>
</section>
<div class="footer">
  <ul>
    <li><a href="home.html">Home</a></li>
    <li><a href="resource.html">Resources</a></li>
    <li><a href="support.html">Support Groups</a></li>
    <li><a href="blog.html">Blog</a></li>
    <li><a href="contact.html">Contact</a></li>
  </ul>
  <p>&copy; 2023 Mental Health Advocacy Center</p>
</div>
