<main>
  <h1 class="resource">Resources for Mental Health</h1>
  <section>
    <h3><i class="fa fa-phone"></i> Hotlines</h3>
    <ul>
      <li>
        <ul>
          <a href="resource"
            >National Center for Mental Health (NCMH) Crisis Hotlines:
          </a>
        </ul>
        <ul>
          <a href="tel: 1553"> 1553 (nationwide and toll-free landline)</a>
        </ul>
        <ul>
          <a href="tel: 0966-351-4518 ">0966-351-4518 (Globe/TM)</a>
        </ul>
        <ul>
          <a href="tel: 0917-899-8727">0917-899-8727 (Globe/TM)</a>
        </ul>
        <ul>
          <a href="tel: 0908-639-2672 ">0908-639-2672 (Smart/Sun/TNT)</a>
        </ul>
      </li>
      <li>
        <a href="tel: 1-866-488-7396"
          >Philippine Mental Health Association, Inc. (Landline)</a
        >
      </li>
      <li>
        <a href="tel: 0917-854-9191">Manila Lifeline Centre </a>
      </li>
    </ul>
    <h3><i class="fa fa-users"></i> Support Groups</h3>
    <ul>
      <li>
        <a routerLink="/support">Find a support group near you</a>
      </li>
    </ul>
    <h3><i class="fa fa-user-md"></i> Online Therapy</h3>
    <ul>
      <li><a href="https://www.betterhelp.com/get-started/">BetterHelp</a></li>
      <li>
        <a
          href="https://prescriptionpsychiatrists.com.ph/online-psychotherapy-philippines/"
          >Prescription Psychiatrists</a
        >
      </li>
      <li>
        <a href="https://mantracare.org/philippines/online-therapy/"
          >Mantra Care</a
        >
      </li>
    </ul>
    <h3><i class="fa fa-book"></i> Helpful Articles</h3>
    <ul>
      <li><a routerLink="/blog">Read helpful articles here</a></li>
    </ul>
  </section>
</main>
