<main>
  <h1 class="article">Articles</h1>
  <section>
    <article>
      <h3>What causes depression?</h3>
      <p>
        It's often said that depression results from a chemical imbalance, but
        that figure of speech doesn't capture how complex the disease is.
        Research suggests that depression doesn't spring from simply having too
        much or too little of certain brain chemicals. Rather, there are many
        possible causes of depression, including...
      </p>
      <a
        href="https://www.health.harvard.edu/mind-and-mood/what-causes-depression"
        >Read More</a
      >
    </article>

    <article>
      <h3>Coping with Depression</h3>
      <p>
        Depression drains your energy, hope, and drive, making it difficult to
        take the steps that will help you to feel better. Sometimes, just
        thinking about the things you should do to feel better, like exercising
        or spending time with friends, can seem exhausting or impossible to put
        into action.
      </p>
      <a
        href="https://www.helpguide.org/articles/depression/coping-with-depression.htm"
        >Read More</a
      >
    </article>

    <article>
      <h3>Depressive disorder (depression)</h3>
      <p>
        Depressive disorder (also known as depression) is a common mental
        disorder. It involves a depressed mood or loss of pleasure or interest
        in activities for long periods of time. Depression is different from
        regular mood changes and feelings about everyday life. It can affect all
        aspects of life, including relationships with family, friends and
        community. It can result from or lead to problems at school and at work.
      </p>
      <a href="https://www.who.int/news-room/fact-sheets/detail/depression"
        >Read More</a
      >
    </article>
  </section>

  <aside>
    <h3>Popular Articles</h3>
    <ul>
      <li>
        <a
          href="https://www.health.harvard.edu/mind-and-mood/what-causes-depression"
          >What causes depression?
        </a>
      </li>
      <li>
        <a
          href="https://www.helpguide.org/articles/depression/coping-with-depression.htm"
          >Coping with Depression</a
        >
      </li>
      <li>
        <a
          href="https://www.health.harvard.edu/mind-and-mood/what-causes-depression"
          >Depressive disorder (depression)</a
        >
      </li>
    </ul>
  </aside>
</main>
